/*320px — 480px: Mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
    /*-/-/-/-/-/-/-/ HOME PAGE -/-/-/-/-/-/-/-/-*/
    
    /*responsive navbar*/
    .hamburger {
        position: absolute;
        right: 1em;
        top: .9em;
        width: 25px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 999;
    }
    header {
        overflow: unset;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all .8s cubic-bezier(1, 0, 0, 1);
    }
    
    .change-line .line-1 {
        transform: rotateZ(-405deg) translate(-1px, 9px)
    }
    .change-line .line-2 {
        opacity: 0;
    }
    .change-line .line-3 {
        transform: rotateZ(405deg) translate(-1px, -9px);
    }
    .navbar__logo img {
        width: 20%;
    }
    .navbar__links {
       position: fixed;
       z-index: 999;
       width: 50%;
       height: 100vh;
       flex-direction: column;
       bottom: 0em;
       top: 0em;
       right: -100em;
       align-items: center;
       justify-content: center;
       background-color: #1d1d1b;
       transition: all .8s ease-in;
    }
    .change-nav {
        right: 0em;
        transition: all .8s ease-out;
    }
    .navbar__links li {
        margin: 1em;
    }/*
    .home {
        overflow: hidden;
    }*/
    .home__content h1 {
        font-size: 3rem;
    }
    .home__content h4 {
        font-size: 1.7rem;
    }
    .home__content a {
        font-size: .9rem;
    }
    .section__headers {
        padding: 1em 0em;
    }
    .section__headers h5{
        font-size: 1.5rem;
    }
    .section__headers p {
        font-size: 1.4rem;
    }
    .section__headers p::after {
        width: 50px;
    }
    /* -/-/-/-/-/-/-/ END OF HOME PAGE -/-/-/-/-/-*/

    /*-/-/-/-/-/-/-/-/-/ ABOUT -/-/--/-/-/-/-/-/-/-/-/*/
    .about__icons {
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .icon {
        width: 50%;
        padding: 0em;
        box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( .9px );
    -webkit-backdrop-filter: blur( 1.0px );
    }
    .icon i {
        font-size: 2rem;
        padding: 0em;
        padding-top: .5em;
    }
    .icon p {
        line-height: 0em;
        font-size: 1rem;
        padding-bottom: .5em;
    }
    .about__content {
        flex-direction: column-reverse;
        padding: 2em 0em;
    }
    .about__content-text {
        width: 90%;
        margin: 0 auto;
        padding: 0em;
        margin-top: 2em;
        text-align: center;
    }
    .about__img {
        width: 100%;
    }
    .about__img img {
        width: 90%;
    }
    /*-/-/-/-/-/-/-/ END OF ABOUT SECTION -/-/-/-/-/-/ */

    /*-/-/-/-/-/-/-/-/ CONTACT PAGE -/-/-/-/-/-/-/-/-/-/ */
    .details__box {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .details {
        width: 100%;
        padding-top: 1em;
    }
    .details__icon {
        width: 40px;
        height: 40px;
    }
    .details__icon i {
        font-size: 1rem;
    }
    .detail__head {
        font-size: .9rem;
    }
    .details__info {
        font-size: .9rem;
    }
    /* /-/-/-/-/-/ END OF CONTACT PAGE /-/-/-/-/ */

    /* /-/-/-/-/-/ FOOTER /--/-/-/-/-/-/-/-/*/
    .footer__info {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        position: relative;
    }
    .footer__info-logo {
        display: none;
    }
    .footer__info-media {
        width: 30%;
    }
    .footer__info-links {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer__info-adress {
        width: 100%;
    }
}


/*=-=-=-=-=- 481px — 768px: iPads, Tablets -=-=-=-=-=-=-*/
@media (min-width: 481px) and (max-width: 768px) {
    /*-/-/-/-/-/-/-/ HOME PAGE -/-/-/-/-/-/-/-/-*/
    .navbar__links {
        width: 60%;
    }
    .icon {
        padding: 0em;
    }
    .icon i {
        font-size: 2.5rem;
        padding-top: 0.5em;
    }
    .icon p {
        font-size: .9rem;
        padding: 1em 0em;
    }
    .about__content-text {
        width: 50%;
        padding: 3em;
        font-size: .9rem;
    }
    .about__img {
        padding: 0em;
        width: 40%;
    }
    .about__img img {
        width: 100%;
    }
    
    .section__headers {
        padding: 1em 0em;
    }
    .section__headers h5{
        font-size: 1.5rem;
    }
    .section__headers p {
        font-size: 1.7rem;
    }
    .section__headers p::after {
        width: 50px;
    }
    /*-/-/-/-/-/-/ END OF ABOUT SECTION -/-/-/-/-/-/ */

    /* -/-/-/-/-/-/-/-/-/ CONTACT -/-/-/-/-/-/-/-/-/-/ */
    .details__icon {
        width: 80px;
        height: 80px;
    }
    .details__icon i {
        font-size: 1.5rem;
    }
    .detail__head {
        font-size: 1.2rem;
    }
    .details__info {
        font-size: .9rem;
    }
    /* /-/-/-/-/-/ END OF CONTACT -/-/-/-/-/-/-/ */

    /*/-/-/-/--/ FOOTER //-/-/-/-/-/-/-/-/-/-/ */
    .footer {
        padding: 2em;
    }
    .footer__info-adress h4 {
        font-size: 1.1rem;
    }
    .footer__info-adress p {
        font-size: .9rem;
    }
}

/*=-=-=-=-= 769px — 1024px: Small screens, laptops. =-=-=-=-*/

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar__links {
        width: 50%;
    }
    .icon {
        padding: 1em 0em;
    }
    
    .about__content-text {
        width: 50%;
        padding: 3em;
    }
    .about__content-text p {
        font-size: .9rem;
    }
    .about__img {
        padding: 0em;
        width: 40%;
    }
    .about__img img {
        width: 100%;
    }
    .icon p {
        font-size: .9rem;
    }
    
    /* -/-/-/-/-/-/-/-/-/ CONTACT -/-/-/-/-/-/-/-/-/-/ */
    .details__icon {
        width: 80px;
        height: 80px;
    }
    .details__icon i {
        font-size: 1.5rem;
    }
    .detail__head {
        font-size: 1.2rem;
    }
    .details__info {
        font-size: .9rem;
    }
    /* /-/-/-/-/-/ END OF CONTACT -/-/-/-/-/-/-/ */
    .footer__info-adress h4 {
        font-size: 1.1rem;
    }
}
