@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
header {
  width: 100%;
  overflow: hidden;
  background: rgba(182, 188, 233, 0.2);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  position: fixed;
  z-index: 999;
}

.nav-scrolled {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.navbar {
  width: 90%;
  margin: 0 auto;
}

.navbar__links {
  width: 40%;
  right: 0em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__links li {
  list-style: none;
}

.navbar__links li a {
  text-decoration: none;
  color: #fff;
}

.slide-img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.slide-img_1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1.jpg");
}

.slide-img_2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2.jpg");
}

.slide-img_3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/3.jpg");
}

.home {
  position: relative;
}

.home__content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__content h1 {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}

.home__content h4 {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.home__content a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  padding: .2em 1em;
  margin-top: 1em;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.home__content a:hover {
  letter-spacing: .1em;
  color: #000;
  background-color: #fff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__icons {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.icon {
  width: 20%;
  padding: 1em;
  background: rgba(182, 188, 233, 0.2);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.icon i {
  font-size: 3rem;
  color: #55A0C8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon p {
  padding-top: 2em;
  text-align: center;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.about__content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(182, 188, 233, 0.2);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  margin-bottom: 5em;
}

.about__content-text {
  width: 50%;
  padding: 5em;
  padding-right: 0em;
}

.about__content-text p {
  text-align: justify;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.about__img img {
  width: 70%;
}

.gallery {
  width: 100%;
  position: relative;
  background-image: url("../img/gallery-back.jpg");
  background-attachment: fixed;
}

.enableBlur > * {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.disableBlur {
  -webkit-filter: blur(0);
          filter: blur(0);
}

/*
.section__headers {
    background-color: $black;
    padding: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     h5 {
         font-size: 2rem;
         color: $blue;
        font-family: 'Dancing Script', cursive;
     }
     p {
         color: #fff;
         font-size: 2rem;
         text-transform: uppercase;
         &::after {
             content: '';
             display: block;
             width: 200px;
             margin: 0 auto;
             height: 2px;
             background-color: $blue;
         }
     }

}*/
.gallery__header,
.menu__header,
.about__header,
.contact__header {
  background-color: #1D1D1B;
  padding: 3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__header h5,
.menu__header h5,
.about__header h5,
.contact__header h5 {
  font-size: 2rem;
  color: #55A0C8;
  font-family: 'Dancing Script', cursive;
}

.gallery__header p,
.menu__header p,
.about__header p,
.contact__header p {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.gallery__header p::after,
.menu__header p::after,
.about__header p::after,
.contact__header p::after {
  content: '';
  display: block;
  width: 200px;
  margin: 0 auto;
  height: 2px;
  background-color: #55A0C8;
}

.gallery__img {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0em;
}

.img__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img__col img {
  width: 24%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.img__col img:hover {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.gallery__footer {
  width: 100%;
  padding: 3em 0em;
  background-color: #1D1D1B;
}

.contact__details {
  background-color: #1D1D1B;
}

.details__box {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0em;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 30%;
}

.details__icon {
  border: 2px solid #55A0C8;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__icon i {
  color: #55A0C8;
  font-size: 2rem;
}

.details__info p {
  color: #5e5e5e;
}

.detail__head {
  color: #5e5e5e;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: .5em;
}

.details__info {
  position: relative;
}

.details__info label {
  color: #5e5e5e;
}

.details__info select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1D1D1B;
  border: none;
  outline: none;
  color: #5e5e5e;
}

.details__info option {
  background-color: #1D1D1B;
}

.arrow-down {
  color: #5e5e5e;
  position: absolute;
  right: 4em;
}

.details__map {
  background-color: #1D1D1B;
  padding-top: 1em;
}

.map {
  padding-top: 1em;
  padding-bottom: 0em;
  width: 100%;
  margin: 0 auto;
}

.map iframe {
  height: 50vh;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #000;
  padding: 3em 0em;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__info-logo {
  width: 20%;
}

.footer__info-logo img {
  width: 100%;
}

.footer__info-adress {
  width: 20%;
}

.footer__info-adress h4, .footer__info-adress p {
  color: #5e5e5e;
}

.footer__info-media p {
  color: #5e5e5e;
}

.info-media {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #5e5e5e;
  color: #5e5e5e;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.info-media a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #55A0C8;
  color: #55A0C8;
}

.footer__info-links li {
  list-style: none;
  margin: .5em 0em;
  color: #5e5e5e;
}

.footer__info-links li a {
  text-decoration: none;
  color: #5e5e5e;
}

.footer__info-links li a:hover {
  color: #55A0C8;
}

.footer__info-links li a span {
  color: #55A0C8;
  margin-right: .5em;
}
/*# sourceMappingURL=style.css.map */